github "Alamofire/Alamofire"
github "pkluz/PKHUD"
github "CoderMJLee/MJRefresh"
github "krzyzanowskim/CryptoSwift"
github "Skyvive/Swiftstraints"
github "AssistoLab/DropDown"
github "MxABC/swiftScan"
#github "longitachi/ZLPhotoBrowser"
github "malcommac/SwiftLocation"
