github "Alamofire/Alamofire"
github "pkluz/PKHUD"
github "CoderMJLee/MJRefresh"
github "krzyzanowskim/CryptoSwift"
github "Skyvive/Swiftstraints"
github "AssistoLab/DropDown"
github "lizhihui0215/ZLPhotoBrowser"
github "lizhihui0215/SwiftLocation"
github "SwiftyBeaver/SwiftyBeaver"
github "JackZhouCn/JZLocationConverter-Swift"
github "hackiftekhar/IQKeyboardManager"
github "Thomvis/BrightFutures"
github "lizhihui0215/Cucumberish"
github "uber/ios-snapshot-test-case"
